// Fonts
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Nunito:wght@200&family=Playfair+Display&display=swap");
// Variables
// $color-1: #756858; // Dark tan
$color-1: rgba(117, 104, 88, 0.5);
// $color-2: #0D1F2D; // Dark Navy
$color-2: rgba(13, 31, 45, 0.5);
$color-3: #550527; // Red
// $color-4: #A6988D; // light tan
$color-4: rgba(166, 152, 141, 0.5);

$color-5: #D4CAC4; // lighter tan
$primary-font: 'Playfair Display', sans-serif;
$secondary-font: 'Nunito', sans-serif;
$p-font: 'Cinzel Decorative', serif;
// Mixins
@mixin hover {
    color: lighten($color-3, 30%);
    text-decoration: underline;
}
@mixin link {
    color: black;
    text-decoration: none;
}
@mixin border {
    padding-top: 1em;
    border-top: solid black .1em;
}
// scss
body {
    font-family: $secondary-font;
    font-weight: bold;
    background: url('images/background.jpg') repeat;
}
h2, h3 {
    font-family: $primary-font;
    font-weight: bolder;
}
a {
    @include link;
    &:hover {
        @include hover;
    }
}
h1, h2 {
    text-align: center;
}
.page-wrapper {
    display: grid;
    grid-template-columns: auto;
}
section.intro h1 {
    display: block;
    text-transform: uppercase;
    font-family: $p-font;
    font-size: 4em;
    border-bottom: solid $color-1 2px;
    margin-top: 0;
    grid-row: 1/2;
    grid-column: 2/7;
}
.intro h2 {
    font-size: 2em;
    padding: 0;
    margin: 0;
    margin-top: -1.3em;
    margin-bottom: -.4em;
}
#zen-summary p:nth-child(1) {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 20px;
    border-bottom: solid black 1px;
}
@keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
}
#zen-summary p:nth-child(2) {
    margin: -20px 0px 0px 0px;
    padding: 0;
    text-align: center;
    transform: translateX(50%);
    animation: scroll 20s linear infinite;
    overflow: hidden;
}
#zen-preamble {
    border-top: solid black 1px;
    padding-top: 20px;
}
h3 {
    margin-top:0;
}
#zen-preamble p, #zen-requirements p {
    margin-top: -15px;
}
#zen-summary {
    overflow: hidden;
}
#zen-intro::after {
    content: '';
    display: block;
    height: 30em;
    margin: 2em 1em;
    background: url('images/paperman-large.jpg') no-repeat center;
}
#zen-participation::after {
    content: '';
    display: block;
    height: 26em;
    margin: 2em 4em;
    background: url('images/clock-small.jpg') no-repeat center;
}
#zen-explanation, #zen-benefits {
    color: $color-5;
    padding: 10px;
    padding-top: 1px;
    background-color: $color-2;
}
#design-selection h3 {
    background-color: $color-1;
    padding: 1em;
    margin-bottom: -1em;
    text-align: center;
}
#design-selection ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-decoration: none;
    list-style-type: none;
    background-color: $color-2;
    color: $color-5;
    padding: 1em;
    column-gap: 2em;
    row-gap: 2em;
    &a {
        text-decoration: none;
    }
}
#design-selection li {
    display: grid;
    grid-template-rows: 1fr .5em 1fr;
    grid-gap: .5em;
    background-color: $color-5;
    color: $color-2;
    text-align: center;
    & a:nth-child(1) {
        background-color: $color-4;
        text-align: center;
    }
}
.designer-name {
    grid-row: 3/4;
    text-align: center;
}
#design-archives {
    background-color: $color-2;
    color: $color-5;
    padding: 1em .5em;
    margin-top: -1em;
    & h3 {
        background-color: $color-4;
        color: black;
        padding: .5em;
        text-align: center;
    }
    & ul {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        justify-content: space-around;
    }
    & a {
        text-decoration: none;
        color: $color-5;
    }
    & a:hover {
        @include hover;
    }
}
#zen-resources::before {
    content: '';
    display: block;
    height: 26em;
    margin: 1em 1em;
    background: url('images/carman-small.jpg') no-repeat center;
}
#zen-resources h3 {
    padding: 1em;
    margin-bottom: 0;
}
#zen-resources ul {
    margin-top: 0;
    padding-left: 20px;
    & a {
        margin-top: -1em;
    }
    & li {
        list-style-type: none;
    }
}
.extra1 {
    background-image: url("images/local_7.svg");
    height: 20px;
    background-repeat: repeat;
    background-position: center;
    margin-bottom: 20px;
}
// All Above Valid
@media only screen and (min-width: 600px) {
    .page-wrapper {
        display: grid;
        grid-template-rows: auto auto auto;
    }
    //header wrapper
    #zen-intro {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        row-gap: 0;
        padding: 2em 3em;
        grid-row: 1/2;
    }
    #zen-intro header {
        grid-column: 1/7;
        grid-row: 1/2;
    }
    //demo
    #zen-summary {
        max-width: 43vw;
        grid-column: 1/4;
        grid-row: 2/3;
    }
    //road
    #zen-preamble {
        grid-column: 1/4;
        grid-row: 3/5;
        max-width: 43vw;
        columns: auto 7rem;
    }
    #zen-intro::after {
        grid-column: 4/7;
        grid-row: 2/5;
    }
    //second wrapper
    #zen-supporting {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        row-gap: 1.5em;
        padding: 2em 3em;
        grid-row: 3/4;
        column-gap: 2em;
    }
    //so what is this about
    #zen-explanation {
        grid-column: 1/4;
        grid-row: 1/2;
        background-color: transparent;
        color: black;
        max-width: 50vw;
        column-count: auto;
        column-width: 7rem;
    }
    //participation
    #zen-participation {
        grid-column: 4/7;
        grid-row: 3/4;
        max-width: 35vw;
        column-count: auto;
        column-width: 6rem;
        @include border;
    }
    //benefits
    #zen-benefits {
        grid-column: 4/7;
        grid-row: 1/2;
        background-color: white;
        color: black;
    }
    //requirements
    #zen-requirements {
        grid-row: 2/4;
        grid-column: 1/4;
        max-width: 50vw;
        column-count: auto;
        column-width: 7rem;
        @include border;
    }
    //html, css
    footer {
        grid-column: 4/6;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
        font-size: 1.5em;
        text-align: center;
    }
    #zen-participation::after {
        display: none;
    }
    #zen-benefits::after {
        content: '';
        display: block;
        height: 10em;
        margin: 0 1em 0em 1em;
        background: url('images/carman-large.jpg') no-repeat center;
    }
    //last wrapper
    aside .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-row: 2/3;
    }
    //select a design
    #design-selection {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0;
        padding: 0;
        background-color: $color-2;
        & h3 {
            background-color: #756858;
            padding: 10px;
            margin: 0;
        }
        & ul {
            padding: 10px;
            margin-top: 0px;
        }
    }
    //archives
    #design-archives {
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 0;
        padding: 0;
        & h3 {
            background-color: #756858;
            padding: 10px;
            margin: 0;
        }
    }
    //resources
    #zen-resources {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: $color-4;
    }
    #zen-resources::before {
        display: none;
    }
    #zen-resources::after {
        content: '';
        display: block;
        height: 26em;
        margin: 1em 1em;
        background: url('images/typewriter-small.jpg') no-repeat center;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #design-archives::after {
        content: '';
        display: block;
        height: 26em;
        margin: 1em 1em;
        background: url('images/camera-large.jpg') no-repeat center;
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #zen-explanation,
    #zen-benefits {
        background-color: transparent;
    }
}
// extra
.page-wrapper {
    background: url('images/background2.jpg') repeat;
    box-shadow: 0 0 10rem black, 0 0 2rem black,;
    margin-top: 2rem;
    margin-bottom: -4rem;
}
#css-zen-garden {
    background: url('images/wood-table-top.jpg') repeat;
    max-width: 80rem;
    margin: auto;
}
.extra1 {
    margin-bottom: 5rem;
}
div#zen-preamble {
    columns: auto 10rem;
}
#design-selection ul {
    background: none;
}
#design-selection h3 {
    background: none;
    background-color: $color-1;
}
#design-archives h3 {
    background: none;
    background-color: $color-1;
}