/* 64em is also 1028px (if basefont is 16px) */

@media only screen and (min-width: 64rem) {
    /*----------- BODY --------------*/
    header, nav, main, footer {
        max-width: 64rem;
        margin: auto;
    }
    /*----------- HEADER --------------*/
    header h1 {
        margin: 0;
        font-size: 3rem;
        color: black;
    }
    /*----------- MAIN --------------*/
    main {
        padding: 0 2%;
        min-height: 10rem;
    }
    h1, h2, h3, h4, h3, h6, p, img, .contact-grid, .weather-forecast-table {
        padding: 0;
    }
    .small-grid {
        padding: 0;
    }
    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery-card:hover {
        box-shadow: 10px 5px 20px #333;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cards section div {
        position: relative;
        transform: translate(0%, 100%);
    }
    .cards section {
        display: block;
        position: relative;
    }
    .cards img {
        position: relative;
        transform: translate(0%, -110%);
        margin: 0;
    }
    #center img {
        margin: 0;
    }
    #left img {
        transform: translate(0%, -120%);
    }
    #left div {
        transform: translate(0%, 90%);
    }
    #forecast {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
