/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

h1, h2, h3, h4, h3, h6, p, img, .contact-grid, .weather-forecast-table {
    padding: 0;
}

.small-grid {
    padding: 0;
}

/*----------- HEADER --------------*/

header h1 {margin: 0; font-size: 3rem; color: black;}



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/


/*----- Google Maps -----*/


     

/*----------- FOOTER --------------*/
    
} /* end of media query */