/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Varela Round', sans-serif;
*/

/*----------- BODY --------------*/

body {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

h1, h2 {
    color: #023859;
    font-family: 'Cormorant Garamond', serif;
}

h3, h4, h5, h6 {
    color: #0378A6;
    font-family: 'Cormorant Garamond', serif;
}

/*----------- HEADER --------------*/

div#headerWrapper {
    background-color: #62B7D9;
}

header {
    padding: .5rem 2%;
    background-color: #62B7D9;
    color: black;
    

    /* FLEX ALIGN*/
    /*
display: flex;
align-items: center;
justify-content: center;
*/
}

header img {
    float: left;
    margin-right: 10px;
    width: 50px;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: black;
}

header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1.3rem;
    color: black;
}

/*----------- NAVIGATION --------------*/

div#navWrapper {
    background-color: #035E81;
}

nav button {
    margin: 0.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav {
    background-color: #035E81;
    content: "";    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: #94E1F2;
    color: #023859;
}

nav ul li.active a {
    background-color: #023859;
    color: white;
}

nav ul.hide {
    display: none;
}

/*----------- MAIN --------------*/

main {
    padding: 0 2%;
    min-height: 10rem;
}

.profile-picture {
    width: 75px;
    border-radius: 100%;
    float: left;
    margin-right: 1rem;
}

.colors {
    display: block;
}

.color {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.color1 {
    background-color: #023859;
    color: white;
}

.color2 {
    background-color: #035E81;
    color: white;
}

.color3 {
    background-color: #62B7D9;
}

.color4 {
    background-color: #62B7D9;
}

.color5 {
    background-color: #F2F2F2;
}

.summary {
    border: 1px solid;
    background-color: rgba(2, 56, 89, 0.694);
    color: white;
    width: 15rem;
    position: absolute;
    padding: 0.5rem;
    margin: 1rem;
    line-height: 1.5rem;
}

.fiveDayForecast {
    display: none;
}

.article-image {
    width: 100%;
}

.top {
    display: none;
}

.small-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.address-container h3 {
    margin: 0;
}

.phone-container h3 {
    margin: 0;
}

.address-container p {
    margin-top: 0.5rem;
}

.phone-container p {
    margin-top: 0.5rem;
}

main {
    padding: 0;
    margin: 0;
}

.hero {
    padding: 0;
    margin: 0;
}

.hero-image {
    width: 100%;
    padding: 0;
    margin: 0;
}

.summary {
    padding: 0 2%;
}

h1, h2, h3, h4, h3, h6, p, img, .weather-forecast-table {
    padding: 0 2%;
}

/*----------- FOOTER --------------*/

div#footerWrapper {
    background-color: #62B7D9;
}

footer {
    background-color: #62B7D9;
    padding: .5rem 2%;
    text-align: center;
    color: black;
}

/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix-footer {
    content: "";
    clear: both;
}

/*----- Google Maps -----*/

.google-maps-large {
    margin-bottom: 1rem;
    width: 100%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 200px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 200px;
    width: 100%;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

.address-container {
    grid-column-start: 1;
    grid-column-end: 2;
}

.phone-container {
    grid-column-start: 2;
    grid-column-end: 3;
}



iframe {
    width: 100%;
    height: 200px;
    border: none;
    margin: 0;
    overflow: hidden;
    /*frameborder: 0;
    scrolling: no;
    marginheight: 0;
    marginwidth: 0; */
}

